<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Admin's Dashboard</h1>
       <p>Welcome {{ name }}!</p>
        <p>What all you can do:</p>
        <ul>
            <li>Add/Edit/Delete articles</li>
            <li>Set featured article</li>
            <li>Edit the About page</li>
            <li>View users' contact submissions <a href="/admin-contacts">Click here!</a></li>
        </ul>
        <a href='/logout'>Logout</a>
</body>
</html>