<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Admin's Dashboard</h1>
       <p>Welcome {{ name }}!</p>
        <p>What all you can do:</p>
        <ul>
            <li><a href="/add-articles">Add new article</a></li>
            <li><a href="/admin/edit-about">Edit the About page</a></li>
            <li>View users' contact submissions <a href="/admin-contacts">Click here!</a></li>
             <li>Edit/Delete articles by clicking on the buttons below for respective articles.</li>
            <li>Set featured article by clicking on the button below for respective articles.</li>
        </ul>

        <h2>Articles</h2>
        {% if articles %}
        {% for article in articles %}
        
            <h3>{{ article[1] }}</h3> 
            <p>{{ article[2] }}</p>
            

            <form action="/set-featured" method="POST">
            <input type="hidden" name="article_id" value="{{ article[0] }}">
            <button type="submit">Set as Featured</button>
            </form>

            <form action="/like" method="POST">
            <input type="hidden" name="article_id" value="{{ article[0] }}">
            <button type="submit">Like</button>
            </form>

            <a href="/edit-article/{{ article[0] }}">Edit</a>
            <a href="/delete-article/{{ article[0] }}">Delete</a>
        
            <p>Likes: {{ like_counts[article[0]] }}</p>
            <p>Featured: {% if article[4] == 1 %}Yes{% else %}No{% endif %}</p>

        {% endfor %}
    {% else %}
        <p>No articles yet. <a href="/add-articles">Add your first article!</a></p>
    {% endif %}

        <a href='/logout'>Logout</a>
</body>
</html>