<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact Us</h1>
    <p>Hi,leave a message for us.</p>

        <form action="submit" method="POST" >
        <p>Name: <input type="text" name="name" required></p>
        <p>Email: <input type="email" name="email" required></p>
        <p>Your Message: <input type="textarea" name="text" required></p>
        

        <button type="submit">Submit</button>
    </form>
</body>
</html>